.calculator1 button{
    position: relative;
    margin-left: 655px;
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.calculator2 button{
    position: relative;
    margin-left: 795px;
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }
  
.calculator3 button{
    position: relative;
    margin-left: 925px;
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.calculator4 button{
    position: relative;
    margin-left: 1060px;
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.clear_but{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgba(12, 7, 7, 0.658);
    width: 100px;
    height: 45px;
    border: 2px solid #ccc;
    padding: 10px;
    font-weight: bold; 
  }
  
input[type="text"] {
    width: 30%;
    height: 38px;
    font-size: 20px;
    border: 2px solid #ccc;
    padding: 10px;
  }

.calc {
  display: flex;
}

.calc1 {
  display: flex;
}

*{
  
  font-size: medium;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
