*{
  font-size: medium;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.calculator1 button{
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.calculator2 button{
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }
  
.calculator3 button{
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.calculator4 button{
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: 2px solid #dbd9d9;
    padding: 10px;
    margin-bottom: 7px;
  }

.clear_but{
    top: 370px;
    position: absolute;
    left: 47.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgba(12, 7, 7, 0.658);
    width: 100px;
    height: 45px;
    border: 2px solid #ccc;
    padding: 10px;
    font-weight: bold; 
  }

.flex{
  top: 162px;
  position: absolute;
  margin-left: 680px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.flex2{
  top: 162px;
  position: absolute;
  margin-left: 950px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

input[type="text"] {
    position: absolute;
    left: 36.4%;
    top: 8%;
    width: 25.5%;
    height: 38px;
    font-size: 20px;
    border: 2px solid #ccc;
    padding: 10px;
  }

.box{
  position: absolute;
  left: 35%;
  border-color: rgba(0, 0, 0, 0.74);
  width: 560px;
  height: 373px;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
}
