* {margin: 0; padding: 0; box-sizing: border-box;}

button {
  font-size: 25px;
  width: 90px;
  height: 90px;
}

button[value="="] {
  background-color: #f39c12;
}

button[value="C"],
button[value="←"] {
  background-color: #e74c3c;
}